

body {
	background: #E07700;
	font-family: helvetica, arial, sans-serif;
	width: 1000px;
	margin: 0 auto;
	font-size: 14px;
	border-bottom: 3px solid black;
	padding: 20px 0;
}

body img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	float: right;
}

body h3 img {
	width: 300px;
	height: 300px;
	border-radius: 5%;
	padding: 70px 20px 0px 10px;
	
}

h1 {
	font-size: 50px;
	color: #006893;
}

h2 {
	font-size: 30px;




p {
	width: 700px;
	line-height: 30px
}

hr {
	margin: 30px 0;

}


Nav a {
	color: #853900;
}

.top {
	color: #00C1FC;


